@import "compass/reset";
@import "compass/css3";

html {
  min-width: 80%;
  min-height: auto;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 62.5%;
  background-color: #006666;
  margin: 0 auto;

}

.container {
  width: 90%;
  height: 600px;
  background-image: url('../img/sunset-resized.jpg');
  opacity: 0.9;
  background-size: 100% 600px;
  margin: 0 auto;
}

.a {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.search-button {
  position: absolute;
  top: 23px;
  right: -71px;
}

.top_bar {
  ul {
    font-size: 1.5em;
    li {
      margin-top: 30px;
    }

    li:nth-last-child(3) {
      margin-left: 160px;
      float: left;
    }
    li:nth-last-child(1) {
      border: 1px solid white;
      float: right;
      width: 75px;
      height: 20px;
      text-align: center;
      padding: 10px 0 0 0;
      margin-top: 20px;
      margin-right: -200px;
    }
    li:nth-last-child(2) {
      margin-right: 200px;
      float: right;
    }
  }
}

.agent_top {
  text-align: center;
  padding-top: 200px;
  line-height: 2;
  h1 {
    font-size: 2.5em;
    color: white;
  }
  p {
    font-size: 1.8em;
    color: white;
  }
  input {
    margin-top: 20px;
    width: 400px;
    height: 40px;
    font-size: 1.3em;
    opacity: 0.5;
    font-color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;

  }
  button {
    width: 100px;
    height: 42px;
    border: none;
    color: #fff;
    background: #67ddab;
    cursor: pointer;
    margin-left: -3px;
    margin-top: -3px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
  }
}

.content {
  border: 1px solid #CCC;
  width: 90%;
  height: 1800px;
  background-color: white;
  margin: 0 auto;

  .data {
    overflow: hidden;
    width: 1008px;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 6px;
    top: -75px;
    position: relative;
    background: whitesmoke;
    height: 150px;

    li {
      width: 250px;
      float: left;
      text-align: center;
      border-right: 2px solid #CCCCCC;
      height: 150px;
      .number {
        font-size: 20px;
        margin-top: 50px;
        font-weight: bold;
      }

      .item {
        font-size: 10px;
        margin-top: 20px;
        color: #CCCCCC;
      }
    }
  }

  .how {
    width: 85%;
    height: 500px;
    margin: 0 auto;
    .how_header {
      border-bottom: 1px solid #aaa;
      padding-bottom: 105px;
      text-align: center;
      margin: 0 auto;
      width: 700px;
      .how_underline {
        border-top: 3px solid #CCC;
        width: 50px;
        margin: 0 auto;
        margin-top: 10px;
      }
      h2 {
        font-weight: bolder;
        font-size: 20px;
      }
    }
    .how_content {
      position: relative;
      top: -20px;
      overflow: hidden;
      padding-bottom: 120px;
      border-bottom: 1px solid #ccc;
      .item {
        float: left;
        width: 28%;
        margin: 0 2.6%;
        .icon {
          border: 1px solid #ccc;
          border-radius: 100%;
          width: 35px;
          height: 35px;
          background: #f4f3f1;
          margin: 0 auto;
          i {
            display: block;
            margin: 7px 10px;
          }

        }
        img {
          display: block;
          margin: 20px auto 40px;
          height: 35px;
          width: 35px;
        }
        h2 {
          font-size: 18px;
          margin-bottom: 24px;
          text-align: center;
          font-weight: bolder;
        }
        p {
          font-size: 16px;
          text-align: center;
          line-height: 1.5;
        }
      }
    }
  }
  .why {
    width: 85%;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 100px;
    .title {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin: 70px;
    }
    .item {
      width: 49.8%;
      height: 150px;
      float: left;
      img {
        margin-top: 20px;
        position: absolute;
        margin-left: 20px;
      }
      .text {
        margin-left: 70px;
        font-size: 16px;
        h3 {
          margin-top: 18px;
          padding-bottom: 20px;
          font-size: 20px;
          font-weight: bold;
        }
        p {
          padding-right: 100px;
        }
      }
    }
  }
  .recent {
    width: 85%;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    .testmonials {
      width: 25%;
      border: 1px solid #CCC;
      height: 35px;
      margin: 0 auto;
      margin-top: 90px;
      .div1 {
        background-color: #003333;
        width: 50%;
        text-align: center;
        height: 35px;
        font-size: 15px;
        float: left;
        color: white;
        p {
          padding-top: 10px;
        }
      }
      .div2 {
        width: 50%;
        text-align: center;;
        height: 35px;
        float: left;
        font-size: 15px;
        p {
          padding-top: 10px;
        }
      }
    }
    .text {
      width: 40%;
      height: 100px;
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      font-size: 14px;
      line-height: 1.5;
      .short-line {
        width: 5%;
        margin: 0 auto;
        border-bottom: 1px solid #CCC;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .image {
        width: 400px;
        height: 60px;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 60px;
        div {
          width: 60px;
          height: 60px;
          border-radius: 60px;
          background-image: url('../img/sunset-resized.jpg');
          float: left;
          margin-left: 30px;
        }
      }
    }
  }

}

.bottom-agent {
  width: 90%;
  height: 200px;
  background-image: url('../img/sunset-resized.jpg');
  margin: 0 auto;
  span {
    font-size: 18px;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
  }
  div {
    width: 60%;
    margin: 0 auto;
    padding-top: 60px;
    input {
      margin-top: 20px;
      width: 400px;
      height: 40px;
      font-size: 1.3em;
      opacity: 0.5;
      font-color: white;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      border: none;

    }
    button {
      width: 100px;
      height: 43px;
      border: none;
      color: #fff;
      background: #67ddab;
      cursor: pointer;
      margin-left: -2px;
      margin-top: -2px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

.footer {
  height: 50px;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  ul {
    text-decoration: none;
    padding-top: 20px;
    padding-left: 100px;
    li {
      float: left;
      font-size: 15px;
      margin-left: 30px;
    }
    li:nth-last-child(2) {
      margin-left: 500px;
    }
  }
}

.agent_number {
  width: 90%;
  border: 1px solid red;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 6px;
  top: -75px;
  position: relative;
  background: #f4f3f1;
  /*.item{
    width: 25%;
    border-right: 1px solid #CCC;
    float: left;
    .number {
      padding: 50px 0 20px;
      font-weight: bolder;
      color: #555;
    }
    p{
      color: #999;
      text-align: center;
      padding-bottom: 50px;
    }
  }
*/
}





