/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
html {
  background-color: #006666;
  font-family: 'PT Sans', sans-serif;
}

/* line 9, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 13, ../sass/style.scss */
body {
  margin: 0 auto;
  width: 1000px;
}

/* line 18, ../sass/style.scss */
.suburb {
  background-image: url("../img/sunset-resized.jpg");
  background-size: 1000px 600px;
  height: 500px;
}

/* line 24, ../sass/style.scss */
.login {
  float: right;
  margin-right: 100px;
}

/* line 29, ../sass/style.scss */
.header_input {
  text-align: center;
  margin-top: 150px;
}

/* line 34, ../sass/style.scss */
.sign_up {
  margin-left: 20px;
  border: 1px solid #CCC;
  width: 100px;
  height: 30px;
}

/* line 41, ../sass/style.scss */
.content {
  border: 1px solid #CCC;
  height: 1500px;
  width: 1000px;
  background-color: white;
}

/* line 48, ../sass/style.scss */
.bottom_input {
  background-image: url("../img/sunset-resized.jpg");
  background-size: 1000px 200px;
  height: 200px;
}

/* line 54, ../sass/style.scss */
.bottom {
  border: 1px solid #CCC;
  width: 1000px;
  height: 50px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* line 63, ../sass/style.scss */
.bottom font {
  margin-left: 20px;
  float: left;
}

/* line 68, ../sass/style.scss */
.bottom_left {
  margin-top: 15px;
  margin-left: 60px;
}
