/* line 5, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
html {
  min-width: 80%;
  min-height: auto;
}

/* line 9, ../sass/style.scss */
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 62.5%;
  background-color: #006666;
  margin: 0 auto;
}

/* line 17, ../sass/style.scss */
.container {
  width: 90%;
  height: 600px;
  background-image: url("../img/sunset-resized.jpg");
  opacity: 0.9;
  background-size: 100% 600px;
  margin: 0 auto;
}

/* line 26, ../sass/style.scss */
.a {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

/* line 32, ../sass/style.scss */
.search-button {
  position: absolute;
  top: 23px;
  right: -71px;
}

/* line 39, ../sass/style.scss */
.top_bar ul {
  font-size: 1.5em;
}
/* line 41, ../sass/style.scss */
.top_bar ul li {
  margin-top: 30px;
}
/* line 45, ../sass/style.scss */
.top_bar ul li:nth-last-child(3) {
  margin-left: 160px;
  float: left;
}
/* line 49, ../sass/style.scss */
.top_bar ul li:nth-last-child(1) {
  border: 1px solid white;
  float: right;
  width: 75px;
  height: 20px;
  text-align: center;
  padding: 10px 0 0 0;
  margin-top: 20px;
  margin-right: -200px;
}
/* line 59, ../sass/style.scss */
.top_bar ul li:nth-last-child(2) {
  margin-right: 200px;
  float: right;
}

/* line 66, ../sass/style.scss */
.agent_top {
  text-align: center;
  padding-top: 200px;
  line-height: 2;
}
/* line 70, ../sass/style.scss */
.agent_top h1 {
  font-size: 2.5em;
  color: white;
}
/* line 74, ../sass/style.scss */
.agent_top p {
  font-size: 1.8em;
  color: white;
}
/* line 78, ../sass/style.scss */
.agent_top input {
  margin-top: 20px;
  width: 400px;
  height: 40px;
  font-size: 1.3em;
  opacity: 0.5;
  font-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
}
/* line 90, ../sass/style.scss */
.agent_top button {
  width: 100px;
  height: 42px;
  border: none;
  color: #fff;
  background: #67ddab;
  cursor: pointer;
  margin-left: -3px;
  margin-top: -3px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
}

/* line 105, ../sass/style.scss */
.content {
  border: 1px solid #CCC;
  width: 90%;
  height: 1800px;
  background-color: white;
  margin: 0 auto;
}
/* line 112, ../sass/style.scss */
.content .data {
  overflow: hidden;
  width: 1008px;
  margin: 0 auto;
  border: 1px solid #aaa;
  border-radius: 6px;
  top: -75px;
  position: relative;
  background: whitesmoke;
  height: 150px;
}
/* line 123, ../sass/style.scss */
.content .data li {
  width: 250px;
  float: left;
  text-align: center;
  border-right: 2px solid #CCCCCC;
  height: 150px;
}
/* line 129, ../sass/style.scss */
.content .data li .number {
  font-size: 20px;
  margin-top: 50px;
  font-weight: bold;
}
/* line 135, ../sass/style.scss */
.content .data li .item {
  font-size: 10px;
  margin-top: 20px;
  color: #CCCCCC;
}
/* line 143, ../sass/style.scss */
.content .how {
  width: 85%;
  height: 500px;
  margin: 0 auto;
}
/* line 147, ../sass/style.scss */
.content .how .how_header {
  border-bottom: 1px solid #aaa;
  padding-bottom: 105px;
  text-align: center;
  margin: 0 auto;
  width: 700px;
}
/* line 153, ../sass/style.scss */
.content .how .how_header .how_underline {
  border-top: 3px solid #CCC;
  width: 50px;
  margin: 0 auto;
  margin-top: 10px;
}
/* line 159, ../sass/style.scss */
.content .how .how_header h2 {
  font-weight: bolder;
  font-size: 20px;
}
/* line 164, ../sass/style.scss */
.content .how .how_content {
  position: relative;
  top: -20px;
  overflow: hidden;
  padding-bottom: 120px;
  border-bottom: 1px solid #ccc;
}
/* line 170, ../sass/style.scss */
.content .how .how_content .item {
  float: left;
  width: 28%;
  margin: 0 2.6%;
}
/* line 174, ../sass/style.scss */
.content .how .how_content .item .icon {
  border: 1px solid #ccc;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  background: #f4f3f1;
  margin: 0 auto;
}
/* line 181, ../sass/style.scss */
.content .how .how_content .item .icon i {
  display: block;
  margin: 7px 10px;
}
/* line 187, ../sass/style.scss */
.content .how .how_content .item img {
  display: block;
  margin: 20px auto 40px;
  height: 35px;
  width: 35px;
}
/* line 193, ../sass/style.scss */
.content .how .how_content .item h2 {
  font-size: 18px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: bolder;
}
/* line 199, ../sass/style.scss */
.content .how .how_content .item p {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}
/* line 207, ../sass/style.scss */
.content .why {
  width: 85%;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 100px;
}
/* line 214, ../sass/style.scss */
.content .why .title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 70px;
}
/* line 220, ../sass/style.scss */
.content .why .item {
  width: 49.8%;
  height: 150px;
  float: left;
}
/* line 224, ../sass/style.scss */
.content .why .item img {
  margin-top: 20px;
  position: absolute;
  margin-left: 20px;
}
/* line 229, ../sass/style.scss */
.content .why .item .text {
  margin-left: 70px;
  font-size: 16px;
}
/* line 232, ../sass/style.scss */
.content .why .item .text h3 {
  margin-top: 18px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
/* line 238, ../sass/style.scss */
.content .why .item .text p {
  padding-right: 100px;
}
/* line 244, ../sass/style.scss */
.content .recent {
  width: 85%;
  height: 300px;
  margin: 0 auto;
  background-color: white;
}
/* line 249, ../sass/style.scss */
.content .recent .testmonials {
  width: 25%;
  border: 1px solid #CCC;
  height: 35px;
  margin: 0 auto;
  margin-top: 90px;
}
/* line 255, ../sass/style.scss */
.content .recent .testmonials .div1 {
  background-color: #003333;
  width: 50%;
  text-align: center;
  height: 35px;
  font-size: 15px;
  float: left;
  color: white;
}
/* line 263, ../sass/style.scss */
.content .recent .testmonials .div1 p {
  padding-top: 10px;
}
/* line 267, ../sass/style.scss */
.content .recent .testmonials .div2 {
  width: 50%;
  text-align: center;
  height: 35px;
  float: left;
  font-size: 15px;
}
/* line 273, ../sass/style.scss */
.content .recent .testmonials .div2 p {
  padding-top: 10px;
}
/* line 278, ../sass/style.scss */
.content .recent .text {
  width: 40%;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
}
/* line 286, ../sass/style.scss */
.content .recent .text .short-line {
  width: 5%;
  margin: 0 auto;
  border-bottom: 1px solid #CCC;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 293, ../sass/style.scss */
.content .recent .text .image {
  width: 400px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 60px;
}
/* line 299, ../sass/style.scss */
.content .recent .text .image div {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-image: url("../img/sunset-resized.jpg");
  float: left;
  margin-left: 30px;
}

/* line 313, ../sass/style.scss */
.bottom-agent {
  width: 90%;
  height: 200px;
  background-image: url("../img/sunset-resized.jpg");
  margin: 0 auto;
}
/* line 318, ../sass/style.scss */
.bottom-agent span {
  font-size: 18px;
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}
/* line 324, ../sass/style.scss */
.bottom-agent div {
  width: 60%;
  margin: 0 auto;
  padding-top: 60px;
}
/* line 328, ../sass/style.scss */
.bottom-agent div input {
  margin-top: 20px;
  width: 400px;
  height: 40px;
  font-size: 1.3em;
  opacity: 0.5;
  font-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
}
/* line 340, ../sass/style.scss */
.bottom-agent div button {
  width: 100px;
  height: 43px;
  border: none;
  color: #fff;
  background: #67ddab;
  cursor: pointer;
  margin-left: -2px;
  margin-top: -2px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 355, ../sass/style.scss */
.footer {
  height: 50px;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 362, ../sass/style.scss */
.footer ul {
  text-decoration: none;
  padding-top: 20px;
  padding-left: 100px;
}
/* line 366, ../sass/style.scss */
.footer ul li {
  float: left;
  font-size: 15px;
  margin-left: 30px;
}
/* line 371, ../sass/style.scss */
.footer ul li:nth-last-child(2) {
  margin-left: 500px;
}

/* line 377, ../sass/style.scss */
.agent_number {
  width: 90%;
  border: 1px solid red;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 6px;
  top: -75px;
  position: relative;
  background: #f4f3f1;
  /*.item{
    width: 25%;
    border-right: 1px solid #CCC;
    float: left;
    .number {
      padding: 50px 0 20px;
      font-weight: bolder;
      color: #555;
    }
    p{
      color: #999;
      text-align: center;
      padding-bottom: 50px;
    }
  }
*/
}
